node_modules
dist
coverage
storybook-static
*.log
.DS_Store
.turbo
.react-scratch
bun.lockb.bak

# Editor / IDE
.idea
.vscode/*
!.vscode/extensions.json
test-results/
playwright-report/

# Next.js
.next/
next-env.d.ts
